name: Static Security Analysis

on:
  workflow_call:

permissions:
  contents: read
  security-events: write

jobs:
  sast:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run Semgrep (default)
        uses: semgrep/semgrep-action@v1
        with:
          generateSarif: true
        env:
          SEMGREP_ENABLE_VERSION_CHECK: "false"

      - name: Upload SARIF
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: semgrep.sarif
