name: Static Security Analysis

on:
  workflow_call:

permissions:
  contents: read
  security-events: write

jobs:
  sast:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Semgrep
        run: |
          python -m pip install --upgrade pip
          pip install semgrep

      - name: Run Semgrep
        run: semgrep scan --sarif --output=semgrep.sarif .

      - name: Upload SARIF
        if: always()
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: semgrep.sarif

      - name: Run OSV-Scanner
        uses: "google/osv-scanner-action/.github/workflows/osv-scanner-reusable.yml@v2.3.0"
        with:
          scan-args: |
            --recursive
            .
